* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}
html {
    font-size: 62.5%;
}
/* Cuerpo del html */
body {
    background: #0e0e0e;
}

/* Cabecera */
header {
    padding-top: 15px;
    padding-bottom: 20px;
}

.texto-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cajaFrontend {
    width: 50%;
    display: flex;
    justify-content: center;
}
.frotend {
    color: #00AAA9;
    font-size: 90px;
    font-family: 'Rubik Microbe', cursive;
}
.frotend:hover {
    text-shadow: 4px 2px 3px whitesmoke;
}

.line1 {
    width: 1fr;
    height: 70px;
    background-color: whitesmoke;
    border: 3px solid white;
}
.cajaBackend {
    width: 50%;
    display: flex;
    justify-content: center;
}
.backend {
    color: #5B63B7;
    font-size: 90px;
    font-family: 'Rubik Microbe', cursive;
}
.backend:hover {
    text-shadow: 4px 2px 3px whitesmoke;
    background-color: opacity;
}

/* Seccion 1 - Presentación*/
.secction1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.presentacion {
    font-size: 30px;
    width: 70%;
    height: auto;
    color: whitesmoke;
}

.presentacion p {
    text-align: center;
    font-size: 30px;
    font-family: 'Crimson Text', serif;
}

/* Seccion 2 - division de frontend y backend*/
.section2 {
    width: 100%;
    height: 35rem;
    margin: 10rem auto auto auto;
    display: flex;
    align-items: center;
    /* border: solid 2px white; */
    justify-content: space-evenly;
}

.division {
    width: 50%;
    display: flex;
    justify-content: center;
}
.profile1 {
    width: 20rem;
    height: 20rem;
    height: 36rem;
    /* border: solid 2px white; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contenedor-image {
    width: 10rem;
    height: 10rem;
}

.photo1 {
    border: 2px solid white;
    border-radius: 20rem;
    width: 100%;
    height: 100%;
}

.text-profile1 {
    color: white;
    display: flex;
    border: 1px solid #00fefd;
    width: 100%;
    height: 60%;
    border-radius: 3rem;
    padding: 3rem;
}

/* Linea separador 2*/
.line2 {
    width: 1fr;
    height: 100%;
    background-color: whitesmoke;
    border: 3px solid white;
}

/*Division de profile2 backend*/
.profile2 {
    width: 20rem;
    height: 36rem;
    /* border: solid 2px white; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.photo2 {
    border: 2px solid white;
    border-radius: 20rem;
    width: 100%;
    height: 100%;
}

.text-profile2 {
    color: white;
    display: flex;
    border: 1px solid #8473ff;
    width: 100%;
    height: 60%;
    border-radius: 3rem;
    padding: 3rem;
}

body::-webkit-scrollbar {
    width: .7rem;
}
body::-webkit-scrollbar-thumb {
    background: #8473ff;
    border-radius: 20rem;
    border-right: 2px solid black;
}


/* Seccion de lenguages */
.container-lenguage {
    width: 100%;
    height: auto;
    border: whitesmoke 3px solid;
    display: flex;
}

.container-lenguage div {
    color: whitesmoke;
}

.lenguage-F {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.lenguage-F div h2 {
    font-size: 2.4rem;
}
.lenguege-icons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.lenguege-icons .div-l {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.lenguege-icons .div-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.lenguege-icons .div-2 div{
    margin: 0 45px;
}
.lenguege-icons .div-2-f {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.lenguage-F .fr {
    border: solid 2px wheat;
    border-radius: 20px;
    margin: 15px 0;
    height: 130px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.Javascript button {
    background-color: transparent;
    background-image: url("/icons/javascript-1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 90px;
    height: 100px;
}
.Javascript:hover {
    background-color: #ffef92;
    border: none;
}
.CSS button {
    background-color: transparent;
    background-image: url("/icons/CSS3_logo_and_wordmark.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 90px;
    height: 100px;
}
.CSS:hover {
    background-color: #7ea4f6;
    border: none;
}
.HTML button {
    background-color: transparent;
    background-image: url("/icons/html-1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 90px;
    height: 100px;
}
.HTML:hover {
    background-color: #f59f7a;
    border: none;
}
.PUG button {
    background-color: transparent;
    background-image: url("/icons/pug.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 90px;
    height: 100px;
}
.PUG:hover {
    background-color: #a8886f;
    border: none;
}
.python button {
    background-color: transparent;
    background-image: url("/icons/Python-logo-notext.svg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 90px;
    height: 100px;
}
.python:hover {
    background: linear-gradient(299.8deg, #3e7fb2 32.69%, #ffe059 80%);
    border: none;
}
.Node button {
    background-color: transparent;
    background-image: url("/icons/nodejs-logo-FBE122E377-seeklogo.com.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 90px;
    height: 100px;
}
.Node:hover {
    background-color: #9fe395;
    border: none;
}
.section_front h2 {
    color: white;
    display: flex;
    justify-content: center;
}

/*Lado backend*/
.container-lenguage {
    width: 100%;
    height: auto;
    border: whitesmoke 3px solid;
    display: flex;
}

.container-lenguage div h2{
    color: whitesmoke;
}
.Java button {
    background-color: transparent;
    background-image: url("icons/java-logo-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 90px;
    height: 100px;
}
.Java:hover {
    background: linear-gradient(520.8deg, #CB2D2F 9.69%, #3677DC 96%);
    border: none;
}

.Go button {
    background-color: transparent;
    background-image: url("/icons/GoLang.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 90px;
    height: 100px;
}
.Go:hover {
    background: linear-gradient(520.8deg, #73cddc 9.69%, #73cddc 96%);
    border: none;
}



