* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 20px;
}
header h1 {
    font-family: 'Rubik Microbe', cursive;
}

body {
    background: black;
}

.texto-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.frotend {
    color: #00AAA9;
    font-size: 90px; 
}

.line {
    width: 1fr;
    height: 70px;
    background-color: whitesmoke;
    border: 3px solid white;
}

.backend {
    color: #5B63B7;
    font-size: 90px;
}





